# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Node CI/CD Pipeline

on:
  push:
   branches: ["main"]

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        
      - name: Login to Docker Hub
        uses: docker/login-action@v3
      
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build & Push Docker Image
        run: |
         docker build -t ${{ secrets.DOCKER_USERNAME }}/node-app:latest .
         docker push ${{ secrets.DOCKER_USERNAME }}/node-app:latest
        
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.0
        with:
         host: ${{ secrets.EC2_HOST }}
         username: ${{ secrets.EC2_USER }}
         key: ${{ secrets.EC2_KEY }}
         script: |
          docker pull ${{ secrets.DOCKER_USERNAME }}/node-app:latest
          docker stop nodeapp || true
          docker rm nodeapp || true
          docker run -d -p 3000:3000 --name nodeapp ${{ secrets.DOCKER_USERNAME }}/node-app:latest
